body { 
    background: url("picture.jpg") no-repeat ;
    background-size: cover;
     
  }
h1{
    text-align: center;
    color: gold;
  
}
.yehoudavideo{
    display:flex;
  justify-content: space-between;
  align-items: center;

}
a{
    color: goldenrod;
    text-decoration: none;
}
video{
    align-items: center;
}
.enfant{
    display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.ayala{
    color: yellow;
}